*{margin: 0; padding: 0; box-sizing: border-box;}/*resetando*/

#bloco{
    background-color: #00c282;
    width: 1448px;
    height: 50px;
    
    
}

#texto-1{
    margin: 20px;

}

#bloco-2{
    background-color: #00c282;
    width: 1000px;
    height: 15px;
    border-radius: 20px;
    margin: 20px;
}

#bloco-3{
    background-color: #00c282;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    color: white;
}

#bloco-4{
    background-color: #00c282;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    color: white;
}

#bloco-5{
    background-color: #00c282;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    color: white;
}

#bloco-6{
    background-color: #00c282;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    color: white;
}

#bloco-7{
    background-color: #00995d;
    width: 1448px;
    height: 25px;
    
}
